@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    width: 100%;
    min-height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)), url(Unknown.jpeg);
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
header h1{
    text-align: center;
    text-decoration: underline;
}
header{
color: rgb(255, 255, 255);

}

h3{
text-align: center;
}
.photo{
text-align: center;
}
header h4{
font-size: 20px;
}
.grand{
display: inline-flex;
}
.grand .droite{
padding-right: 10px;
}
.grand .gauche{
padding-top: 10px;
}




